<app-record-list
  [isAdmin]="false"
  [streamCount]="tableManager.streamCount"
  [totalRecords]="tableManager.tableTotalRecords"
  [limit]="tableManager.limit"
  [skip]="tableManager.skip"
  [sortField]="tableManager.primeSortField"
  [sortDirection]="tableManager.sortDirection"
  [tableColumns]="tableManager.tableColumns"
  [tableRows]="tableManager.tableRows"
  [selectedRows]="tableManager.selectedRows"
  [selectedRecordName]="tableManager.selectedRecordName"
  [pageSizeOptions]="tableManager.pageSizeOptions"
  [showStaticActionButtons]="false"
  [contextActions]="[]"
  [showFilterButton]="filterVisible"
  [filterConfig]="tableManager.queryBuilderConfig"
  [filterRules]="tableManager.queryBuilderRules"
  [filterPreview]="tableManager.queryText"
  [isLoadingRecords]="tableManager.isLoadingRecords"
  [fastSearchEnabled]="tableManager.fastSearchEnabled"
  [fastSearchLoading]="tableManager.fastSearchLoading"
  [fastSearchSchema]="tableManager.fastSearchSchema"
  [fastSearchSubmission]="tableManager.fastSearchSubmission"
  [tableRenderLoading]="tableManager.tableRenderLoading"
  [statusText]="statusText"
  [statusError]="statusError"
  [displayCell]="displayCell"
  (fastSearchFormChange)="onFastSearchFormChange($event)"
  (fastSearchSearch)="doFastSearch()"
  (fastSearchReset)="resetFastSearch()"
  (filterRulesChange)="onFilterRulesChange($event)"
  (filterApply)="applyFilters()"
  (filterReset)="resetFilters()"
  (selectionChange)="onSelectionChange($event)"
  (sortChange)="onSortChange($event)"
  (pageChange)="onPageChange($event)"
  (rowClick)="onRowClick($event.row, $event.event)"
  (desktopRowOpen)="onRowOpen($event.row, $event.event)"
  (rowDblClick)="onRowOpen($event.row, $event.event)"
></app-record-list>

<app-ozon-record-modal
  *ngIf="modalRecName"
  [model]="model"
  [actionName]="actionName"
  [recName]="modalRecName"
  (closed)="onModalClosed()"
  (saved)="onModalSaved()"
></app-ozon-record-modal>
